/* Roboto ve Railway fontlarını body etiketi */

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/* BAŞLIK (HEADER BÖLÜMÜ) İÇİN CSS KURALLARI */

.nav-self{
    display: flex;
    align-items: center;
}
.nav-a{
    font-family:'Raleway', sans-serif;
    font-weight: 700 ;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
    margin-right: 76px;
   
    
}
.nav-ul{
    display: flex;
    gap: 40px;
}
.nav-span{
    color: #2e2f42;
    font-family:'Raleway', sans-serif;

}

.nav-lione{
    display: block;
    position: relative;
    text-decoration: none;
    color: #404bbf;
    font-size:16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-lione::after{
    content: "";
    width: 100%;
    position: absolute;
    left:0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.nav-lione:hover, .nav-lione:focus{
    color:#404bbf;
}




.navadres-ul{
    display: flex;
    gap: 40px;
}
.nav-lione:hover{
    color: #404bbf;
}
.nav-lione:focus{
    color: #404bbf;
}

.nav-adres{
    font-style: normal;

}

.adres-a{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.adres-a:hover{
    color: #404bbf ;
}
.adres-a:focus{
    color: #404bbf;
}

/* Effective Solutions ve Buton Bölümü için Css kuralları */


.one-sec{
    background-color: #2E2F42;
    text-align: center;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/slider.jpg);   
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1440px;
    background-size: cover;
    margin: 0 auto;
}
.one-sec-li-div{

    height: 112px;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.one-sechone{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    }
.one-secbut{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.one-secbut:hover{
    background-color: #404BBF
}

.one-secbut:focus{
    background-color: #404BBF;
}

/* Sitenin tanıtıldığı 4 maddelik o yer için css kuralları */ 

.secttwo-self{
    padding: 120px 0;

}

.visually-hidden{
    
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}
.secttwo-li{
    width: calc((100% - 72px) / 4);
}

.twosect-ull{
    display: flex;
    gap: 24px;
}
.twosect-li{
    width: calc((100% - 72px) / 4);


}

.twosect-huc{
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.twosect-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;


}

/* Our Team Bölümü Css kuralları */

.our-team-social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
    margin-top: 8px;
}
.our-team-social svg{
    width: 16px;
    height: 16px;
}
.team-social-link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    
    
}
.team-social-link:hover{
    background-color: #404bbf
}
.team-social-link:focus{
    background-color: #404bbf
}
.social-svg{
    fill:#f4f4fd;
}

.thersect{
    background-color: #f4f4fd;
    padding: 120px 0;

}
.thersect-hiki{
    font-size: 36px;
    margin-bottom: 72px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

}
.thersect-li{
     background-color: #FFFFFF;
    text-align: center;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}
.thersect-ul{
    display: flex;
    gap: 24px;
}
.thersect-lidiv{
    padding: 32px 0;
}

.thersect-lihuc{
    font-weight: 500;
    width: calc((100% - 72px) / 4);
    
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 8px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.thersect-lip{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;


}
/* OUR PORTFOLYONUN OLDUĞU YER İÇİN CSS KURALLARI */

.foursect-self{
    padding: 120px 0;

}

.foursect-hiki{
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

}

.foursect-ul{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    

}

.foursect-ulli{
    flex: 1;
    background-color: #ffffff;
    flex-basis: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foursect-ulli:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfoli-img-box{
    position: relative;
    overflow: hidden;
}
.portfolio-information{
    color: #F4F4FD;
    font-size:16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4D5AE5;
    position:absolute;
    top: 0;
    width:100%;
    height:100%;
    transform:translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foursect-ulli:hover .portfolio-information{
    transform: translateY(0);
}

.foursect-img{
    object-fit: cover;
}
.foursect-ullidiv{
    
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    border-radius: 0px 0px 4px 4px;

}


.foursect-huc{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.foursect-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}


/* FOOTER BÖLÜMÜ CSS KURALLARI (span etiketi header bölümündeki nav içindeki css'i kullanır) */

.footer{
    background-color: #2E2F42;
    font-family: "Raleway",sans-serif;
    letter-spacing: 17.33;
    padding: 100px 0;
}
.footer > .container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.footer-information{
    width: 264px;
}
.footer-social{
    margin-right: 120px;
}
.footer-social-title{
    color: #FFFFFF;
    font-weight: 500;
    font-size:16px;
    letter-spacing: 0.02em;
    line-height: 24px;
    margin-bottom: 16px;
}
.footer-text{
    color:#F4F4FD;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.footer-logo{
    line-height: 1.17;
    font-size:18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #4d5ae5;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}
.footer_logo_second{
    color: #F4F4FD;
}
.footer-social-list-item{
    width: 40px;
    height: 40px;
}
.footer-social{
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.footer-social-list{
    display: flex;
    gap: 16px;
}
.footer-social-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}
.footer-social-link{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.footer-social-svg{
    fill: #f4f4fd;
}
.footer-social-link:hover{
    background-color: #31d0aa;
}
.footer-social-link:focus{
    background-color: #31d0aa;
}
.footer-logo-inform{
    margin-right: 120px;
}
.footer-letter{
    display: flex
    ;
        gap: 16px;
        flex-direction: column;
}
.footer-letter-svg{
    margin-left:16px;
    width: 24px;
    height: 20px;
    fill: rgba(255, 255, 255, 1);
}
.letter-form-group{
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items:baseline;
}
.footer-form{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.footer-input{
    border: 1px solid #FFFFFF;
    color: #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background: transparent;
    padding: 8px 16px;
    outline: none;
    font-size:12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}
.letter-form-group > .blue_button{
    width: 165px;
    height: 40px;
    padding: 8px 24px;
    margin: 0px;
}
.footer-blue-btn{
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    text-align: center;
    letter-spacing: 0.04em;
    color:white;
    background-color:#4D5AE5;
    font-size:16px;
    font-weight: 500;
    line-height: 1.5;
    border: none;
    cursor: pointer;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align:center;
    color: #ffffff;
    border-radius: 4px;
}
.footer-blue-btn:hover{
    background-color: #404BBF;
}
.footer-blue-btn:focus{
    background-color: #404BBF;
}
.footer-input::placeholder{
    color:rgba(255, 255, 255, 1);
    font-size:12px;
    font-weight: 400;
}
/*popup*/
.popup{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 584px;
    background: #2E2F4266;
    opacity: 1;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.popup-container{
    position: absolute;
    background-color: #FCFCFC;
    width: 408px;
    min-height: 584px;
    top:50%;
    left: 50%;
    margin: 0 auto;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.poup-header-content{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;

}
.popup-header-box{
    margin: 0 auto;
}

.popup-btn-close{
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    height: 24px;
    width: 24px;
    background-color: #E7E9FC;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.popup-btn-close:hover{
    background-color: #404bbf;
    border: none;
}
.popup-btn-close:focus{
    background-color: #404bbf;
    border: none;
}
.popup-svg-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.popup-btn-close:hover .popup-svg-close{
    fill: #ffffff;
}

.popup-btn-close:focus .popup-svg-close{
    fill: #ffffff;
}
.popup-header-content{
    font-size:16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.popup-content{
    display: flex;
    flex-direction: column;
    gap: 8px ;
}
.form-label{
    font-size:12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
    display: block;
    margin-bottom: 4px;
}
.form-box-content{
    position: relative;
}
.form-check{
    margin-bottom: 24px;
}
.form-check-label{
    font-size:12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.form-check-span{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
input[type="checkbox"]:checked + label .form-check-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.check-link{
    color: #4d5ae5;
}
.form-box{
    margin-bottom: 8px;
    /**/
}
.form-box-tex{
    margin-bottom: 16px;
}
.checkbox{
    margin-right: 8px;
    
}
.form-input{
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 11px 38px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.form-input:focus{
    border-color: #4D5AE5;
}
.form-textarea{
    display: block;
    width: 100%;
    height: 120px;
    font-size:12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.form-textarea:focus{
    border-color: #4D5AE5;
}
.form-box-svg{
    fill: rgba(46, 47, 66, 1);
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
    
}
.form-input:focus ~ .form-box-svg {
    fill: #4D5AE5;
}
.popup-blue-btn{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin:0 auto
}
.form-btn{
    display: block;
    text-align: center;
    margin-top: 24px 0;

}